<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/fan.css}" rel="stylesheet" />
<title>Ceiling Fan</title>
</head>
<body>

<div class="header">
<h1 class="message" th:text="${message}"></h1>
</div>
<div class="container">
<form action="/fanbasic/leftpullcord" >
    <input type="submit" value="leftcord" class="leftcord"/>
    </form>
    <br></br>
   <form action="/fanbasic/rightpullcord">
     <input type="submit" value="rightcord" class="rightcord" />
</form>
 <br></br>
<form action="/fanbasic/index">
     <input type="submit" value="back" class="back" />
</form>
</div>

<div class="footer">

</div>

</body>
</html>