<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ceiling Fan</title>
 <link th:href="@{/css/fan.css}" rel="stylesheet" />
</head>
<body>
<h1 class="message" th:text="${message}"></h1>

<form action="/fanbasic/leftpullcord" >
    <input type="submit" value="leftcord" class="leftcord"/>
    </form>
    <br></br>
   <form action="/fanbasic/rightpullcord">
     <input type="submit" value="rightcord" class="rightcord" />
</form>
 <br></br>
<form action="/index.html">
     <input type="submit" value="back" class="back" />
</form>

</body>
</html>