<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ceiling Fan</title>


</head>
<body>


<h2>Welcome to Ceiling Fan Application</h2>
<br>This application is built to support manual invocation as well as WebSerivce invocation</br>
<br>
Webservice Urls for remote control invocation<br>
http://localhost:8080/fanrest/getregulatorsettings?value=leftcord<br>http://localhost:8080/fanrest/getregulatorsettings?value=rightcord
<br>Any External Client(Eg:Postman) can be used to invoke above urls<br>
<a href="/fanbasic/getfanpage" class="funny">Click here for WebPage Invocation</a>
<div>
</body>
</html>